.presentation_container{
    border-radius: 7px;
    display: flex;
    padding: 2%;
    background-color: rgba(0, 128, 0, 0.096);
    text-align: left;
 
    margin-top:0.5%;
}
h1{
    font-size: 40px;
}
.presentation_container button{
    float: left;
    background-color: black;
    color: rgba(255, 255, 255, 0.95);
    padding: 1.5%;
    cursor: pointer;
}

.presentation_container section{
    width: 50%;
}



.presentation_container img{
    width: 100%;
}