.presentation_container{
    border-radius: 7px;
    display: flex;
    padding: 5%;
    background-color: rgba(0, 128, 0, 0.096);
    text-align: left;
 
    margin-top:0.5%;
}
.presentation_container button{
    float: left;
    background-color: black;
    color: rgba(255, 255, 255, 0.95);
    padding: 1.5%;
    cursor: pointer;
}

.presentation_container section{
    padding: 2%;
}



.presentation_container img{
     max-width: 100%;
     min-width: 30%;
     margin: 10px;
}