.specials_container section:first-child{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.specials_container button {
    background-color: black;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    padding-right:3%;
    padding-left:3%;
}
.specials_container section:nth-child(2){
    display: flex;
    justify-content: space-around;
}
/*CSS for product cards*/
.specials_container section:nth-child(2) .greek_salade {
    width: 30%;
    text-align: left;
    background-color: rgba(255, 255, 0, 0.18);
    border: solid black 1px;
    padding: 1%;
    border-radius: 10px;
    border: solid black 1px;
} 
.specials_container section:nth-child(2) .bruchetta {
    background-color:  rgba(255, 255, 0, 0.18);
    width: 30%;
    text-align: left;
    padding: 1%;
    border-radius: 10px;
    border: solid black 1px;
}

.specials_container section:nth-child(2) .lemon_dessert {
    background-color:  rgba(255, 255, 0, 0.18);
    width: 30%;
    text-align: left;
    padding: 1%;
    border-radius: 10px;
    border: solid black 1px;
}
/*PARAGRAPHS IN PRODUCT CARD*/
.specials_container section:nth-child(2) .greek_salade p {
    height: 20%;
}
.specials_container section:nth-child(2) .bruchetta p{
    height: 20%;
}
.specials_container section:nth-child(2) .lemon_dessert p{
    height: 20%;
}
/*prices on product card*/
.specials_container section:nth-child(2) .greek_salade div p {
    color: red;
}
.specials_container section:nth-child(2) .bruchetta div p{
    color: red;
}
.specials_container section:nth-child(2) .lemon_dessert div p {
    color: red;
}

.specials_container img{
    width: 100%;
    height: 40%;
}
.greek_salade div{
    display: flex;
    justify-content:space-between;
    padding: 2%;
    align-items: center;
}
.bruchetta div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}
.lemon_dessert div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 100%;
}